body {
	background-color: white;
	margin: 0;
	font-family: sans-serif;
}

#top_bar {
	background-color: #363635;
	overflow: hidden;
}
#top_bar a {
	float: left;
	padding: 2.2mm 2.2mm;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	background-color: #363635;
	color: white;
}
#article {
  max-width: 95%;
}
#top_bar a:hover {
	background-color: white;
	color: #363635;
}

h1, h2, h3,
p {
	margin: 3mm;
}
