* {
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3,
p {
  margin: 3mm;
}

.navbar {
  background-color: #333;
  padding: 8px 10px;
  position: relative;
  font-weight: bold;
}

/* Hide checkbox */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 14px;
}

.nav-link:hover {
  background-color: white;
  color: #363635;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 100%;
  margin-top: 7px; /* Add margin to create space between navbar and dropdown */
}

.dropdown-content a {
  color: #333;
  padding: 2.2mm 2.2mm;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .nav-link {
  background-color: white;
  color: #363635;
}

@media screen and (max-width: 768px) {
  .nav-toggle-label {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 8px 10px;
    gap: 2rem;
  }

  .nav-toggle:checked ~ .nav-list {
    display: flex;
  }

  .dropdown-content {
    position: static;
    background-color: #363635;
    padding: 1%;
  }

  .dropdown-content a {
    color: white;
  }
}
